%header.header
  - unless params[:action] == 'landing' || Current.user&.admin_enabled?
    .header-main.container.d-none.d-sm-block
      .row
        %h1.logo.col-md-8.col-12
          = link_to root_path do
            = svg 'logo'
            .full-name.float-right.d-none.d-xl-block
              SYOSSET HIGH SCHOOL
        .info.col-md-4.col-12
          %br
          %br
          .contact.float-right
            %p.phone
              = fa_icon 'phone'
              = t('contact.phone')

  .main-nav-wrapper
    .container
      %nav.main-nav.navbar.navbar-expand-md{role: :navigation, class: Current.user&.admin_enabled? ? 'dark' : ''}
        %button.navbar-toggler.collapsed{"data-target" => "#navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        #navbar-collapse.navbar-collapse.collapse.justify-content-between
          %ul.nav.navbar-nav.mr-aut
            %li.nav-item{class: active_controller('welcome', 'index')}
              = link_to t('nav.home'), root_path, class: 'nav-link'
            %li.nav-item{class: active_controller('welcome', 'about')}
              = link_to t('nav.about'), about_path, class: 'nav-link'
            %li.nav-item.dropdown
              %a#navbarDropdown-1.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                = t('nav.departments')
                = fa_icon 'angle-down'
              .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                - @departments_summary.each do |department|
                  = link_to department.name, department, class: 'dropdown-item'
                = link_to "#{t('nav.departments_all')}", departments_path, class: 'dropdown-item'
            %li.nav-item
              = link_to t('nav.extracurriculars'), activities_path, class: 'nav-link'

            - if Current.user&.can? :show, :admin_panel
              %li.nav-item{class: active_controller('admin', 'index')}
                = link_to t('nav.admin'), administration_path, class: 'nav-link'
          %ul.nav.navbar-nav
            %li.nav-item.d-none.d-sm-block
              - if @active_closure.nil?
                = render "partials/nav/day_indicator"
              - else
                = render "partials/nav/closure_indicator"
            - if Current.user
              %li.nav-item
                = link_to user_path(Current.user) do
                  - unless Current.user.onboarding_steps.empty?
                    %span.label.label-info.onboarding-alert
                      = fa_icon 'pencil-square'
                      NEW
                    &nbsp;
                  - if Current.user.admin_enabled?
                    = fa_icon 'shield'
                  = Current.user.name
              %li.nav-item
                = link_to t('sessions.destroy'), logout_path, :method => :delete, class: 'nav-link'
            - else
              %li.nav-item
                = link_to '/auth/google_oauth2', class: 'btn-loader nav-link' do
                  = t('sessions.new')
                  = fa_icon 'google-plus-square'
              - if Rails.env.development?
                %li.nav-item
                  = link_to '/auth/developer', class: 'btn-loader nav-link' do
                    Authorize
                    = fa_icon 'cog'
            - if Current.user
              %li.nav-item.dropdown
                %a.dropdown-toggle{"data-close-others" => "false", "data-delay" => "0", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "#"}
                  %span.badge.visible-md-inline.visible-lg-inline{class: @alert_count > 0 ? "badge-warning" : ""}= @alert_count
                  .visible-xs.visible-sm
                    = fa_icon 'exclamation-circle'
                    Alerts
                    %b.caret
                %ul.dropdown-menu.dropdown-menu-right
                  %li= link_to "Click to see all alerts", alerts_path
                  - @alerts.each do |alert|
                    %li= render partial: 'partials/alerts/alert', object: alert
                  - if @alert_count > 25
                    %li
                      %a{:href => alerts_path} And #{@alert_count - 25} more...
                  - if @alert_count == 0
                    %li
                      %a{href: ""} No unread alerts!
